*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 30px;

    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


.navbar {
    width: 100%;
    position: fixed;
    z-index: 999;
}

.navbar a {
    color:  white;
    display: inline-block;
    padding: 20px 40px;
    font-weight: 900;
    position: relative;
}

.navbar li{
    display:inline;
}

nav ul li a:before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: crimson;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

.navbar a:hover {
    color: crimson;
}
.navbar.sticky{
    padding: 2px 0;
    height: 10vh;
    background: crimson;
}
.navbar.sticky a:hover{
    /* padding: 2px 0; */
    color:black;
    /* background-color: black; */
} 

/* nav{
    height: 10vh;
    /* background-color: crimson; */
/* }  */

.nav-links{
    /* display: flex; */
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
@media screen and (max-width:900px){
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav{
        position: fixed;
        margin: 0;
        padding: 0;
    }
    .hamburger1{
        position: fixed;
        cursor: pointer;
        right: 3.2%;
        top: 5%;
        transform: translate(-9%,-90%);
        z-index: 2;
    }
    .hamburger2{
        position: fixed;
        cursor: pointer;
        right: 3.2%;
        top: 6%;
        transform: translate(-9%,-90%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        display: flex;
        background: crimson;
        height: 50vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        /* clip-path: circle(100%); */
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        padding-top: 60px;

    }
    .nav-links.open{
        /* clip-path: circle(100%); */
        clip-path: circle(1000px at 90% );
        -webkit-clip-path: circle(1000px at 90% -20%);
        pointer-events: all; 
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li a{
        font-size: 30px;   
    }
    .nav-links li:nth-child(1){
        transition: all 0.3s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.3s ease 0.2s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.3s ease 0.2s;
    }
    li.fade{
        opacity: 1;
    }
    .navbar a:hover {
        color: white;
    }
    nav ul li a:before {
        background: white;
    }

    .addElem::after {
        position: relative;
        content: "tapan";
        top: 10%;
        padding-top: 30px;
        color: black;
        font-size: 40px;
        padding-left: 10px;
    }
}

.home {
    display: flex;
    background: url("d.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.home .max-width{
    margin: auto 0 auto 70px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: 60px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 10px 120px;
}

.home .home-content .text-3 span{
    color: crimson;
    font-weight: 900;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: white;
    background: none;
    font-weight: 650;
}

 .dis{
    display: none;
    font-size: 30px;
    font-size: 900;
    padding-left: 120px;
    padding-top: 25px;
 }

.desp{
    display: none;
    font-size: 20px;
 }

.services .serv-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 10px 10px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.services .serv-content a:hover{
    color: white;
    background-color: black;
    font-weight: 650;
}

.btnRead {
    background-color: crimson;
    padding: 10px 0;
    color: white;
    height: 50px;
    margin-top: 20px;
    width: 55%;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btnRead:hover {
    background-color: black;
}

.come {
    font-size: 25px;
    padding-top: 15px;
}

.com {
    height: 110px;
}

.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}

.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .django::before{
    width: 90%;
}
.skills-content .right .c::before{
    width: 90%;
}
.skills-content .right .java::before{
    width: 80%;
}
.skills-content .right .python::before{
    width: 75%;
}
.skills-content .right .html::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 85%;
}
.skills-content .right .js::before{
    width: 85%;
}
.skills-content .right .cv::before{
    width: 80%;
}
.skills-content .right .tf::before{
    width: 75%;
}
.skills-content .right .react::before{
    width: 70%;
}

.card {
    margin: 10px;
}

.services, .teams{
    color:#fff;
    background: #111;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: #111;
    /* content: "what i"; */
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* .services .serv-content .card:hover{
    background: crimson;
} */
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.pro {
    text-decoration: none;
}

.pro :hover {
    color: black;
}

.connect {
    background-color: white;
    color: crimson;
    height: 250px;
}

.connect .txt {
    padding: 40px;
    font-size: 33px;
    font-weight: 900;
}

.imageLogo {
    height: 70px;
    width: auto;
    margin: 10px;
}

.imageLogo :hover {
    height: 92px;
    width: auto;
    background-color: black;
}

footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
    
    .home .home-content .text-1{
        font-size: 23px;
    }

    .home .home-content .text-2{
        font-size: 70px;
        font-weight: 600;
        margin-left: 60px;
    }

    .home .home-content .text-3{
        font-size: 35px;
        margin: 10px 120px;
    }
    .max-width{
        padding: 10px 50px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .home .home-content .text-1{
        font-size: 23px;
    }

    .home .home-content .text-2{
        font-size: 65px;
        font-weight: 600;
        margin-left: 60px;
    }

    .home .home-content .text-3{
        font-size: 33px;
        margin: 10px 120px;
    }

    .max-width{
        padding: 10px 50px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 10px 50px;
    }
    .btnRead {
    background-color: crimson;
    padding: 10px 0;
    color: white;
    height: 50px;
    margin-top: 20px;
    width: 75%;
    font-size: 24px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    }
}

@media (max-width: 790px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .skills .skills-content .column{
        width: calc(100% - 30px);
    }

    .hamburger1{
        top: 7%;
    }
    .hamburger2{
        top: 6%;
    }

    .addElem::after {
        font-size: 50px;
    }
}

@media (max-width: 580px) {
    .home .home-content .text-2{
        font-size: 45px;
    }
    .home .home-content .text-3{
        font-size: 23px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    .hamburger1{
        top: 6%;
    }
    .hamburger2{
        top: 6%;
    }

    .addElem::after {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 40px;
        margin: 0 0;
    }
    .home .home-content .text-3{
        font-size: 25px;
        margin: 5px 0;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    .foot {
        font-size: 15px;
    }

    .imageLogo {
        height: 40px;
    }

    .navbar{
        color: white;
    }
    .skills .skills-content {
        display:block;
        width: 100%;        
    }
    .skills .skills-content .column{
        width: calc(100% - 30px);
    }

    .hamburger1{
        top: 6%;
    }
    .hamburger2{
        top: 6.6%;
    }

    .addElem::after {
        font-size: 50px;
    }

}
